.next/* filter=lfs diff=lfs merge=lfs -text
node_modules/* filter=lfs diff=lfs merge=lfs -text
C:/next/4/teste-4/livros-next/node_modules/* filter=lfs diff=lfs merge=lfs -text
C:/next/4/teste-4/livros-next/.next/* filter=lfs diff=lfs merge=lfs -text
C:/next/4/teste-4/livros-next/* filter=lfs diff=lfs merge=lfs -text
C:/next/4/teste-4/livros-react/* filter=lfs diff=lfs merge=lfs -text
